/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#video-player {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0; 
}

#radio-player {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background-color: rgba(255, 165, 0, 0.5); 
  padding: 10px; 
  z-index: 10; 
}

#radio-title {
  position: absolute;
  bottom: 33px; 
  left:0px;
  background-color: rgba(255, 165, 0, 0.5); 
  padding:1px;
  border-radius: 2px; 
  z-index: 2;
  width: 100%; 
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  width: 40px; /* Ширина и высота круглого логотипа */
  height: 40px;
  border-radius: 50%; /* Создаем круглую форму */
  background-color: #FFA500; /* Цвет фона круглого логотипа */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo span {
  /* Если у вас есть текст внутри круглого логотипа, вы можете применить стили к нему */
  color: #333; /* Цвет текста внутри логотипа */
  text-align: center;
  width: 100%;
  padding: 0; /* Удалите внутренние отступы */
}


.buttons {
  display: flex;
  gap: 10px;
}

.test-button,
.login-button {
  background-color: #FFA500;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: #333;
  color: #fff;
}
/* Стили для ссылки внутри логотипа */
.logo a {
  text-decoration: none; 
  color: inherit; /* Наследуем цвет текста от родительского элемента (.logo) */
}
